

/* Body */
body {
    background-color:rgb(255, 255, 255);
    color: rgb(30,30,30);
    font-family: 'Lato', sans-serif; 
    -webkit-animation: background 2s cubic-bezier(.42,0,1,1) 1;
    animation: background 2s cubic-bezier(.42,0,1,1) 1;  
}

@-webkit-keyframes background {
  0% { background-color: black; }
  100% { background-color: white;; }  
}

@keyframes background {
  0% { background-color:black; }
  100% { background-color: white; }  

}

/*Nav*/
.frame-pull-left.right {
    left: auto;
    right: 40px;
    bottom: auto;
}

.frame-pull-left {
    position: fixed;
    left: 40px;
    top: 40px;
    z-index: 1;
    text-decoration: none;
    font-size: 10px;
}

.w-inline-block {
    max-width: 100%;
    display: inline-block;
    color: black;
}
a:link, a:visited {
    color: black; 
    text-decoration: underline;
}

a:hover{
    color: black;
}

a:active {
    color: red;
}

/*border */ 
.border-bottom {
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1;
    width: 100%;
    height: 30px;
    background-color: black;
}
.border-top {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    z-index: 2;
    width: 100%;
    height: 30px;
    background-color: black;
}
.border-left {
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 1;
    width: 30px;
    height: 100%;
    background-color: black;
}
.border-right {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1;
    width: 30px;
    height: 100%;
    background-color: black;
} 

/* .jumbotron */
.jumbotron {	
    text-align: center;
    background-color:white;
    margin-top: 3em;
    padding: 0em;
}

#arrowone, #arrowtwo,#arrowthree{
    display:none;
}


 #opening {
    display: none;
}

.blackbox {
    background-color: black;
    color: white;
    padding-bottom: 1em;
}

#tagline{
    text-align: center;
}

header{
    text-align: left;
    padding-left: 10px;
}

header, #tagline {
    margin-bottom: 1em;
}

/*About Me */
p {
    display: block; 
    text-align: justify; 
    line-height: 1.5em;
    margin-bottom: 1em;
    padding-right: 10px;
    padding-left: 10px; 

}

/*Carousel*/
.carousel {
padding-left: 1em;
padding-right: 1em;
}

/*Fade in effects*/
.fadeInBlock {
    opacity:0;
}

/*headlines*/
